/* add your styles here */
h2 {
  text-align: center;
}
#grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 3rem;
}

.image {
  max-height: 400px;
  margin: 0 auto;
  min-width: 100px;
}
